@import url("https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

.navbar {
  min-height: 40px;
  border: none;
}

.navbar-brand {
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
  z-index: -10;
  color: white;
  font-size: 30px;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}
.navbar-toggle {
  margin-top: 23px;
  padding: 9px 10px;
}
.navbar-default {
  background-color: black;
  background-repeat: no-repeat;
  margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
  color: white;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 15px;
  padding-top: 25px;
  text-decoration: none;
  padding-bottom: 10px;
  line-height: 27px;
  bottom: 7px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: grey;
}
body {
  overflow-x: hidden;
  height: 100vh;
  font-size: 16px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

nav {
  flex: 1;
  padding-left: 60px;
}
.main {
  background-color: black;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75%;
  width: 100%;
}

.text {
  padding-top: 50px;
  margin: auto;
  text-align: center;
  font-family: "PT Serif", serif;
}

.text img {
  border-radius: 50px;
  height: 400px;
  border: 1px solid black;
  margin-left: 18%;
  padding-bottom: 0;
  float: left;
}

.text>h1 {
  margin-top: 10%;
}
.skills {
  margin-left: 100px;
  margin-right: 100px;
  align-self: center;
}
.skill_style {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 17%;
  margin: 40px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card img {
  height: 200px;
}
.card p {
  font-family: "Roboto Slab", serif;
  margin-left: 60px;
  align-self: center;
}
.container {
  padding: 2px 16px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flip-card {
  background-color: transparent;
  padding: 2px 16px;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #ffa770;
  color: black;
}

.flip-card-back {
  background-color: #f5f2c4;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-front p {
  margin-top: 30%;
  font-family: "Roboto Slab", serif;
}
.flip-card-back p {
  margin-top: 2%;
  font-family: "Roboto Slab", serif;
  text-align: justify;
  padding: 10px;
}
#skill_header, #project_header {
    margin-left: 50px;
    font-family: 'Cormorant Garamond', serif;
}

.contact {
  align-items: center;
  text-align: center;
  font-family: "Roboto Slab", serif;
  background-color: #f5f2c4;
  height: 300px;
  margin-bottom: 0;
}
.contact > h1 {
  padding-top: 82px;
  padding-left: 50px;
  float: left;

}
.links  img {
  width: 50px;
  height: 50px;
  margin: 40px;
  margin-top: 7%;
  border-radius: 5px;
}
footer {
  color: white;
  text-align: center;
  background-color: rgb(48, 7, 48);
  height: 200px;
}

footer > p {
  padding-top: 100px;
  font-family: "Roboto Slab", serif;
}